@import url('./root.css');

.container{
display: flex;
background: var(--clr-red);
height: 5vw;
font-family: var(--ff-main);
}

.containerUl{   
    display: flex;
    padding: 0;
    gap: 2rem;
    list-style-type: none;
    margin-left: 2rem;
    text-align: center;
    font-family: var(--ff-main);
    color: var(--clr-white);
}

.nav-list{
    text-align: center;
}

.container-header{
    display: flex;
    background-color: var(--clr-orange);
    height: 30vw;  
}

.title-featured{
    text-align: center;
    font-family: var(--ff-main);
    font-weight: var(--fw-md);
    font-size: var(--fs-lg);
}

.food-container{
    display: grid;
    width: 80vw;
    margin: 2rem auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

.food-activity{
    border-radius: 2rem;
    text-align: center;
    padding: 2rem 1rem;
}

.food-icon{
        margin: auto;
        width: 100%;
        height: 35vh;
        border-radius: 3rem;
    
}

.best-seller-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    background-color: var(--clr-yellow);
    height: 80vh;
    }

.best-seller{
    display: flex;
    justify-content: space-between;  
}

.icon-best{
    height: 80vh;
    width: 100%;
    border-top-right-radius: 30rem;
}

.best-seller-text{
    text-align: center;
    font-family: var(--ff-main)
}
.best-seller-name{
    font-weight: var(--fw-bl);
    font-size: var(--fs-xl);
    padding: 2rem;
}
.best-seller-title{
    font-weight: var(--fw-md);
    font-size: var(--fs-lg);
    
}
.best-seller-button{
    align-items: center;
    background: var(--clr-main);
    padding: .5rem 2rem;
    font-weight: var(--fw-md);
    font-size: var(--fs-md);
    border-radius: 1.5rem;
}
.description-icon{
        margin: auto;
        height: 590px;
        width: 819px;
        border-radius: 7rem;
}
.description-title{
    text-align: center;
    font-family: var(--ff-main);
    color: var(--clr-black);
    font-weight: var(--fw-md);
    font-size: var(--fs-lg);
}
.description-container{
    display: flex;
    background-color: var(--clr-white);
    height: 700px;
    justify-content: center
}
.description{
    background-color: var(--clr-orange);
    height: 250px; 
}
.descriptionUl{
    padding: 4rem; 
    list-style-type: none;
    margin-left: 2rem;
    text-align: center;
    font-family: var(--ff-main);
    color: var(--clr-black);
}
.description-text{
    font-weight: var(--fw-rg);
    font-size: var(--fs-mlg);
    
}
.similar-container{
    display: grid;
    width: 80vw;
    margin: 2rem auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;  
}
.similar-activity{
    display: grid;
    background: var(--clr-yellow);
    border-radius: 2rem;
    text-align: center;
    padding: 2rem 1rem;
}
.similar-icon{
    margin: auto;
    width: 100%;
    border-radius: 3rem;
}
.similar-title{
    font-family: var(--ff-main);
    font-weight: var(--fw-rg);
    font-size: var(--fs-lg);
    text-align: center;
}
.similar-text{
    text-align: center;
    font-family: var(--ff-main);
    font-weight: var(--fw-rg);
    font-size: var(--fs-lg);
}
.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background: var(--clr-yellow);
    width: 100%;
    height: 363px;
}
.menu-icon{
    height: 364px;
    width: 500px;
    border-top-right-radius: 30rem;  
}
.menu-title{
    text-align: center;
    font-family: var(--ff-main);
    font-weight: var(--fw-bl);
    font-size: var(--fs-xl);
}
.new-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background: var(--clr-orange);
    width: 100%;
    height: 300px;
}
.new-title{
    text-align: center;
    font-family: var(--ff-main);
    font-weight: var(--fw-md);
    font-size: var(--fs-lg);    
}
.menu-activity{

    text-align: center;
    padding: 2rem 1rem; 
}
.new-text{
    text-align: center;
    font-family: var(--ff-main);
    font-weight: var(--fw-rg);
    font-size: var(--fs-md);
    color: var(--clr-white);   
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background: var(--clr-darker-red);
    width: 100%;
    height: 30vw;
}
.containerUl-Footer{   
    padding: 7rem;
    list-style-type: none;
    margin-left: 2rem;
    text-align: center;
    font-family: var(--ff-main);
    color: var(--clr-white);
}

.nav-list-footer{
    padding: 1rem;
    text-align: center;
    font-weight: var(--fw-md);
    font-size: var(--fs-md);
}
.text-footer{
    font-family: var(--ff-main);
    color: var(--clr-white);
    font-weight: var(--fw-md);
    font-size: var(--fs-md);
}
.container-icons-menu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background: var(--clr-white);
    width: 100%;
    height: 50vw;
}
.icons-activity{
    text-align: center;
    padding: 10rem 1rem; 
}
.icons{
    margin: auto;
    width: 20vh; 
    height: 20vh; 
}
.icons-text{
    font-family: var(--ff-main);
    font-weight: var(--fw-rg);
    font-size: var(--fs-md); 
    color: var(--clr-black);       
}
.main-title{
    font-family: var(--ff-main);
    font-weight: var(--fw-bl);
    font-size: var(--fs-xl); 
    color: var(--clr-white);
    text-align: center; 
    padding: 10rem 0 0;  
}
