.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background: var(--clr-darker-red);
    width: 100%;
}
.containerUl-Footer{   
    padding: 4rem;
    list-style-type: none;
    margin-left: 2rem;
    text-align: center;
    font-family: var(--ff-main);
    color: var(--clr-white);
}
.nav-list-footer{
    text-align: center;
    font-weight: var(--fw-md);
    font-size: var(--fs-md);
}
.text-footer{
    font-family: var(--ff-main);
    color: var(--clr-white);
    font-weight: var(--fw-md);
    font-size: var(--fs-md);
}
@media only screen and (max-width: 600px){
    .footer-container{
        display: none;
    }
    .containerUl-Footer{   
        display: none;
    }
    .nav-list-footer{
        display: none;
    }
    .text-footer{
     display: none;
    }  
}

