.container{
    display: flex;
    background: var(--clr-red);
    height: 5vw;
    font-family: var(--ff-main);
    }
    
    .container-header{
        display: flex;
        background-color: var(--clr-orange);
        height: 30vw;  
    }
    @media only screen and (max-width: 600px) {
  
        .container{
            display: flex;
            background: var(--clr-red);
            height: 10vw;
            font-family: var(--ff-main);
            }
    }