.nav-list{
    text-align: center;
    text-decoration: none;
    color: var(--clr-white) ;
}
.containerUl{   
    display: flex;
    padding: 0;
    gap: 2rem;
    list-style-type: none;
    margin-left: 2rem;
    text-align: center;
    font-family: var(--ff-main);
    color: var(--clr-white);
}
@media only screen and (max-width: 600px) {
  
  
}